:root {
  /* Variables CSS */
  --color-primary: #30c88f;
  --color-secundary: #2d314d;
  --color-terciary: #9597a5;
  --background-color: #F4F5F7;
  --background-color-articles:#FAFAFA;
  --color-gradient: linear-gradient(-45deg, #33d35e, #2ab6d9);
  --white: white;
  --font-weight-light: 300;
  --font-weight-regular: 400;
}

/* Variables SASS */
